{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block content %}
<!--banner-->
<div class="jumbotron">
  <div class=" mx-auto">
    <h5 class="lead"><strong> Signup </strong></h5>
    <hr class="my-4">
    <ol class="breadcrumb ">
      <li class="breadcrumb-item"><a href='{% url "home" %}'><i class="fas fa-home"></i>Home</a></li>
      <li class="breadcrumb-item active"> Signup</li>
    </ol>
  </div>
</div>
<!--endbanner-->

<div class="modal-dialog" role="document">
  <div class="modal-content">
    <div class="modal-header">
      <h5 class="modal-title">Signup — it’s free!</h5>
    </div>
    <div class="modal-body">
      <form method='POST' action='' enctype='multipart/form-data' novalidate>
        {% csrf_token %}
        <input type="hidden" name="next" value="{{ next }}">
        {% crispy form %}
      </form>
      <hr/>
      <div>
        <p>
        have an account? <a href='{% url "accounts:login" %}'>Login</a>
        </p>
      </div>
    </div>
  </div>
</div>

{% endblock %}