{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load pinax_likes_tags %}


{% block title %}  User Profile  | {{ block.super }} {% endblock %}
{% block lead %}
{{ company.name }}
{% endblock %}
{% block jumbotron %}
<li class="breadcrumb-item"><a href='{% url "accounts:users" %}'>User List</a></li>
<li class="breadcrumb-item active">{{ user.name }}'s Profile</li>
{% endblock  %}


{% block domready %}
    $('a.like').click(function(e){
        e.preventDefault();
        $.post('{% url "accounts:like" %}',
            {
                id: $(this).data('id'),
                action: $(this).data('action')
            },
            function(data){
                if (data['status'] == 'ok')
                {
                    var previous_action = $('a.like').data('action');

                    // toggle data-action
                    $('a.like').data('action', previous_action == 'like' ? 'unlike' : 'like');
                    // toggle link text
                    $('a.like').text(previous_action == 'like' ? 'Unlike' : 'Like');

                    // update total likes
                    var previous_likes = parseInt($('span.count .total').text());
                    $('span.count .total').text(previous_action == 'like' ? previous_likes + 1 : previous_likes - 1);
                }
        });

    });
{% endblock %}

{% block content %}


<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <h1 class="display-4">{{ user.username }} - {{ user.get_full_name }}</h1>
    <p class="lead">{{ user.email }}</p>
    <hr/>
    <div class="pull-right">
      <a href="{% url 'accounts:account_edit' %}" type="button" class="btn btn-primary btn-lg">Edit
      </a>
    </div>
    &nbsp;
    <br/>
    <br/>
    <div class="col-md-12">
      {% if user.profile %}
      {{ user.profile.bio }}
                            {% likes_widget request.user user %}

      <span>
<a href='{% url "accounts:edit_profile" user.slug %}' type="button" class="btn btn-info btn-lg">Edit Resume
</a>
<a href='{% url "accounts:add_skills" user.slug %}' type="button" class="btn btn-primary btn-lg">Add Skills
</a>
<a href='{% url "accounts:add_education" user.slug %}' type="button" class="btn btn-primary btn-lg">Add Education
</a>
<a href='{% url "accounts:add_experience" user.slug %}' type="button" class="btn btn-primary btn-lg">Add Experience
</a>
  </span>
      {% else %}
      <a href='{% url "accounts:add_resume" user.slug %}' type="button" class="btn btn-success btn-lg">Add Resume
      </a>
      {% endif %}
    </div>
  </div>
  <div

          {% for user in user.skills.all %}
          {{ user.name}}
  <br/>
  {% endfor %}




<form action="{% url 'accounts:like' %}" method="post">
  {% csrf_token %}
  <button type="submit" name="normaluser_id" value="{{ user.id }}" class="btn btn-primary"> Like </button>
</form>
  {% endblock %}

