{% extends 'base.html' %}
{% load staticfiles %}

{% block title %}   Account List   | {{ block.super }} {% endblock %}
{% block lead %}
Category List
{% endblock %}
{% block jumbotron %}
<li class="breadcrumb-item active"> Account List</li>
<li class="breadcrumb-item active"><a href='{% url "category:new" %}'> New</a></li>
{% endblock  %}


{% block content %}


<!--table list-->
<div class="container">
  {% if user %}
  {% for obj in user %}
  <div class="card col-md-10">
    <div class="row card-body">
      <div class="col-md-2 ">
        <a href="#" class="pull-left ">
          <img src='{% static "img/chair-daylight-desk-1181251.jpg" %}' class="d-block w-100 img-responsive">
        </a>
      </div>
      <div class="col-md-10">
        <h4 class="title">
          {{ obj.username }} - {{ obj.get_full_name }}
        </h4>
        <span>
                <p class="summary">Ut enim ad minim veniam, quis nostrud exercitation...</p></span>
        <div>
          <hr/>
          <a href="{{ obj.get_absolute_url }}" class="card-link btn btn-primary pull-right">Details</a>
        </div>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">currently no users</h5>
      </div>
      <div class="modal-body">
        <a href="{% url 'accounts:signup' %}" class="btn btn-success btn-lg" role="button">Signup</a>
      </div>
    </div>
  </div>
  {% endif %}
</div>
<!--end table list-->
{% endblock %}
