{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}


{% block title %} Login  | {{ block.super }} {% endblock %}
{% block lead %}
Login
{% endblock %}

{% block jumbotron %}
<a class="btn btn-common">
 Login
</a>
{% endblock  %}



{% block content %}
{% if form.non_field_errors %}
<div class="alert alert-danger alert-dismissible fade show" role="alert">
  {% for error in form.non_field_errors %}
  <p{% if forloop.last %} class="mb-0"{% endif %}>{{ error }}</p>
  {% endfor %}
  <button type="button" class="close" data-dismiss="alert" aria-label="Close">
    <span aria-hidden="true">&times;</span>
  </button>
</div>
{% endif %}

<div class="container">
<!-- log forms -->
<!-- form 1 -->
<div class="row">
  <!-- Start login form  -->
  <div class="col-lg-6 col-md-6 col-xs-12">
    <div id="login-form">
      <h3 class="log-title">Log In</h3>
      <div class="form-group">
                  <form class="login-form" method='POST' action='' enctype='multipart/form-data' novalidate>
            {% csrf_token %}
            <input type="hidden" name="next" value="{{ next }}">
            {% crispy form %}
          </form>
          <div class="clearfix"></div>
        </div>
      <a href="{% url 'accounts:password_reset' %}" class="forgot-password">Forgot your Password? |</a>
      <a href='{% url "accounts:signup" %}'>Don't have an account?</a>
    </div>
  </div>
</div>
  <!-- End login form 1 -->
</div>

{% endblock content %}