{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}


<title>{% block title %}  Password Change   | {{ block.super }} {% endblock %}</title>
{% block lead %}
Password Change
 {% endblock %}
{% block jumbotron %}
      <li class="breadcrumb-item active">Password Change </li>
{% endblock  %}


{% block content %}
<!--banner-->
<div class="jumbotron">
  <div class=" mx-auto">
    <h5 class="lead"><strong> My Account </strong></h5>
    <hr class="my-4">
    <ol class="breadcrumb ">
      <li class="breadcrumb-item"><a href='{% url "home" %}'><i class="fas fa-home"></i>Home</a></li>
      <li class="breadcrumb-item active"> My Account</li>
    </ol>
  </div>
</div>
<!--endbanner-->

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-md-offset-2">
        <div class="page-ads box">
          <form enctype="multipart/form-data" class="form-ad" action="." method="POST">
            <div class="form-group is-empty">
              {% csrf_token %}
              {% crispy form %}
        <button type="submit" class="btn btn-success">Change password</button>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
