{% extends 'base.html' %}

{% block title %}Change password successful{% endblock %}


{% block lead %}
Password Change Done 
 {% endblock %}
{% block jumbotron %}
  <li class="breadcrumb-item"><a href="{% url 'accounts:password_change' %}">Change password</a></li>
  <li class="breadcrumb-item active">Success</li>
{% endblock  %}



{% block content %}
  <div class="alert alert-success" role="alert">
    <strong>Success!</strong> Your password has been changed!
  </div>
  <a href="{% url 'category:list' %}" class="btn btn-secondary">Return to home page</a>
{% endblock %}
