{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

{% block title %}  {{ country.name }}  | {{ block.super }} {% endblock %} %}
{% block lead %}
{{ country.name }}
{% endblock %}
{% block jumbotron %}
<a class="btn btn-common" href='{% url "country:list" %}'>Country List
</a>
<a class="btn btn-common active">{{ country.name }}
</a>
{% endblock  %}

{% block content %}

<div class="container">
  <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
    <div class="carousel-inner">
      {% if country.photo %}
      <div class="carousel-item active">
        <img src='{{ country.photo.url }}' class="d-block w-100" alt="...">
      </div>
      {% endif %}
    </div>
  </div>
  <div class="jumbotron jumbotron-fluid">
    <div class="m-5">
      <h1 class="display-4">{{ country.name }}</h1>
      <p class="lead">{{ country.description }}</p>
      <hr/>
      <p>
        <i class="fas fa-user-tie"></i> <a> Admin </a> |
        {% if country.website %}
        <span> <i class="far fa-calendar-alt"></i><a href="{{ country.website}}"> Website  | </a> </span>
        <span></span> at {{ country.publish }}
        {% endif %}
      </p>
      <div class="pull-right">
        <a href='{% url "country:edit" country.slug %}' type="button" class="btn btn-primary pull-right">Update
        </a>
      </div>
    </div>
  </div>
</div>
{% endblock content %}
