{% extends 'base.html' %}
{% load staticfiles %}
{% load widget_tweaks %}
{% load crispy_forms_tags %}
{% load pinax_likes_tags %}
{% load activity_tags %}

{% block title %} {{ profile.user.username }}'s Profile  | {{ block.super }} {% endblock %}
{% block breadcrumb %}
{% endblock  %}
{% block content %}
<!-- Headers Start -->

<div id="headers">
  <!-- Light header -->
  <header id="header-style-1">
    <div class="container">
      <div class="header-caption">
        <div class="row">
          <div class="col-md-12 col-sm-12 text-center header-content">
            <div class="contents">
              <h5 class="header-title animated fadeInUp" data-wow-delay="0.2s">Hi This is</h5>
              <h2 class="header-title animated fadeInUp" data-wow-delay="0.4s">{{ profile.user.get_full_name }}</h2>
              <p class="header-text animated  fadeInUp" data-wow-delay="0.6s">{{ profile.title }}</p>
              <div class="social-icon col-md-12 col-sm-12 mx-auto">
                {% if profile.facebook %}
                <a href="{{ profile.facebook }}"><i class="fa fa-facebook"></i></a>
                {% endif %}
                {% if profile.twitter %}
                <a href="{{ profile.twitter }}"><i class="fa fa-twitter"></i></a>
                {% endif %}
                {% if profile.google %}
                <a href="{{ profile.google }}"><i class="fa fa-google-plus"></i></a>
                {% endif %}
                {% if profile.pinterest %}
                <a href="{{ profile.pinterest }}"><i class="fa fa-pinterest"></i></a>
                {% endif %}
                {% if profile.linkedin %}
                <a href="{{ profile.linkedin }}"><i class="fa fa-linkedin"></i></a>
                {% endif %}
              </div>&nbsp;
              <div class="header-button wow fadeInUp" data-wow-delay="1s">
                <a class="btn btn-common" href="#">Hire Me</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </header>
</div>
<!-- Headers End -->
  <hr/>
  <a href="{% follow_url other_user %}">
    {% if request.user|is_following:another_user %}
    You are already following {{ another_user }}
    {% endif %}


    {% if request.user|is_following:other_user %}
    stop following
    {% else %}
    follow
    {% endif %}
  </a>


<a href="{% actor_url request.user %}">View your actions</a>
<a href="{% actor_url another_user %}">{{ another_user }}'s actions</a>
  <hr/>
{% if profile %}
<!--simple card 10-->
<div class="container">
  <div class="card mx-auto col-md-12 mb-2 ">
    <div class="card-body">
      <div class="row">
        <div class="col-md-3 col-sm-12">
          {% if profile.thumbnail %}
          <img class="img-fluid" src='{{ profile.thumbnail.url }}' alt="">
          {% endif %}
        </div>
        <div class="pull-right col-md-9 col-sm-12">
          <div class="card-title">
            <strong>{{ profile.user.get_full_name }}</strong>
          </div>
          <div class="card-subtitle">
            {{ profile.title }}
          </div>
          <p>
            {{ profile.location }}, {{ profile.location.country.name }}
          </p>
          <p>
            {{ profile.user.email }}, {{ profile.phone }}
          </p>
          <a href='{% url "resume:pdf" profile.slug %}' class="btn btn-common"><i class="icon-paper-clip"></i>
            Download Resume
          </a>
          {% if profile.user == request.user %}
          <a href='' class="btn btn-danger"><i class="icon-speech"></i> Edit Resume </a>
          {% endif %}
          {% else %}
          <a href='{% url "resume:new" %}' type="button" class="btn btn-success btn-lg">
            Add Resume
          </a>
        </div>
        {% endif %}
        <hr/>
        <div class="col-md-12">
          <h2 class="card-title">
            About Me
          </h2>
          <p class="text-muted">
            {{ profile.bio }}
          </p>
          <hr/>

          {% if profile.user == request.user %}
          <div class="pull-right">
            <a href='{% url "resume:new_skills" profile.slug %}' type="button"
               class="btn std-btn btn-sm btn-filled">
              Add Skills
            </a>
          </div>
          {% endif %}
          {% for obj in profile.skills.all %}
          <h2 class="card-title">
            Skills
          </h2>
          <h5 class="card-title">
            {{ obj.name }}
          </h5>
          <h6 class="card-subtitle">
            {{ obj.get_level_display }}
          </h6>
          <p class="text-muted">
            {{ obj.description }}
          </p>
          {% if profile.user == request.user %}
          <a href='' class="btn btn-danger btn-sm"><i class="icon-speech"></i> Edit </a>
          {% endif %}
          {% endfor %}
          <hr/>

          <h2 class="card-title">
            Experience
          </h2>
          {% if profile.user == request.user %}
          <div class="pull-right">
            <a href='{% url "resume:new_experience" profile.slug %}' type="button"
               class="btn std-btn btn-sm btn-filled">
              Add Experience
            </a>
          </div>
          {% endif %}
          {% for obj in profile.experience.all %}
          <h4>
            {{ obj.role }} - {{ obj.company }}
          </h4>
          <span> {{ obj.start_date }}- {{ obj.completion_date }} </span>
          <p class="text-muted">
            {{ obj.description }}
          </p>
          {% if profile.user == request.user %}
          <a href='' class="btn btn-sm btn-danger"><i class="icon-speech"></i> Edit </a>
          {% endif %}
          {% endfor %}
          <hr/>

          <h2 class="card-title">
            Education
          </h2>
          <div class="pull-right">
            {% if profile.user == request.user %}
            <a href='{% url "resume:new_education" profile.slug %}' type="button"
               class="btn std-btn btn-sm btn-filled">
              Add Education
            </a>
          </div>
          {% endif %}
          {% for obj in profile.education.all %}
          <h4>
            {{ obj.major }} - {{ obj.school }}
          </h4>
          <span> {{ obj.start_date }}- {{ obj.completion_date }} </span>
          <p class="text-muted">
            {{ obj.summary }}
          </p>
          {% if profile.user == request.user %}
          <a href='' class="btn btn-sm btn-danger"><i class="icon-speech"></i> Edit </a>
          {% endif %}
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</div>
</div>
<!--end of simple card 10-->
<div class="mb-60"></div>
{% endblock %}

