{% extends 'base.html' %}
{% load staticfiles %}

<title>{% block title %} Category List | {{ block.super }} {% endblock %}</title>
{% block lead %}
Category List
{% endblock %}
{% block jumbotron %}
<li class="breadcrumb-item active"> Category List</li>
<li class="breadcrumb-item active"><a href='{% url "category:new" %}'> New</a></li>
{% endblock  %}

{% block content %}


<div class="row">
  {% if category %}
  {% for obj in category %}
  <div class="col-md-4">
    <div class="card mb-3">
      <h3 class="card-header">{{ obj.name }}</h3>
      {% if obj.photos %}
      <img style="height: 200px; width: 100%; display: block;" src='{{ obj.photo.url }}' class='img-responsive'/>
      {% endif %}
      <div class="card-body">
        <p class="card-text">{{ obj.description|truncatechars:100 }}</p>
      </div>

      <div class="card-body">
        <a href="{{ obj.get_absolute_url }}" class="card-link btn btn-primary">Details</a>
      </div>
    </div>
  </div>
  {% endfor %}
  {% else %}
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">currently no categories</h5>
      </div>
      <div class="modal-body">
        <a href="{% url 'category:new' %}" class="btn btn-success btn-lg" role="button">Add New Category</a>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
