{% extends 'base.html' %}
{% load staticfiles %}

<title>{% block title %} Category List | {{ block.super }} {% endblock %}</title>
{% block lead %}
Category List
{% endblock %}
{% block jumbotron %}
<li class="breadcrumb-item active"> Category List</li>
<h6><a href='{% url "category:new" %}'> New</a></h6>
{% endblock  %}

{% block content %}

<div class="container">
  <div class="features-wrap">
    <div class="row">
      {% if category %}
      {% for obj in category %}
      <!-- Start featured -->
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="featured-box featured-center">

          <div class="featured-content">
            <h4>{{ obj.name }}</h4>
            <p>{{ obj.description|truncatechars:100 }}</p>
          </div>
          <a href="{{ obj.get_absolute_url }}" class="btn card-btn btn-common">Learn More</a>
        </div>
      </div>
    </div>
    <!-- End featured -->
    {% endfor %}
  </div>
  {% else %}
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">currently no categories</h5>
      </div>
      <div class="modal-body">
        <a href="{% url 'category:new' %}" class="btn btn-success btn-lg" role="button">Add New Category</a>
      </div>
    </div>
  </div>
  {% endif %}
</div>
{% endblock %}
