{% extends 'base.html' %}
{% load staticfiles %}

{% block title %} Category List | {{ block.super }} {% endblock %}
{% block lead %}
Category List
{% endblock %}
{% block jumbotron %}
<a class="btn btn-common breadcrumb-item active">
  Category list
</a>
<a class="btn btn-common" href='{% url "category:new" %}'>
  new
</a>
{% endblock  %}

{% block content %}
{% if category %}
<div class="container">
  <div class="features-wrap">
    <div class="row">
      {% for obj in category %}
      <!-- Start featured -->
      <div class="col-lg-3 col-md-6 col-xs-12">
        <div class="featured-box featured-center">

          <div class="featured-content">
            <h4>{{ obj.name }}</h4>
            <p>{{ obj.description|truncatechars:100 }}</p>
          </div>
          <a href="{{ obj.get_absolute_url }}" class="btn card-btn btn-common">Learn More</a>
        </div>
      </div>
      <!-- End featured -->
      {% endfor %}
    </div>
  </div>
</div>
{% if is_paginated %}
<div class="container mx-auto">
  <nav aria-label="modal">
    <ul class="pagination">
      {% if page_obj.has_previous %}
      <li class="page-item">
        <a class="page-link" href="?page={{ page_obj.previous_page_number }}" aria-label="Previous">
          <span aria-hidden="true">«</span>
          <span class="sr-only">Previous</span>
        </a>
      </li>
      {% else %}
      <li class="disabled">
      </li>
      {% endif %}
      {% for i in paginator.page_range %}
      {% if page_obj.number == i %}
      <li class="page-item active"><a class="page-link"><span>{{ i }}<span class="sr-only">Current</span></span></a>
      </li>
      {% else %}
      <li class="page-item"><a class="page-link" href="?page={{i}}">{{i}}</a>
      </li>
      {% endif %}
      {% endfor %}
      {% if page_obj.has_next %}
      <li class="page-item"><a class="page-link" href="?page={{ page_obj.next_page_number }}" aria-label="Next">
        <span aria-hidden="true">»</span>
        <span class="sr-only">Next</span>
      </a>
      </li>
      {% else %}
      <li class="disabled">
      </li>
      {% endif %}
    </ul>
  </nav>
</div>
{% endif %}

{% else %}

<div class="container">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title">currently no categories</h5>
      </div>
      <div class="modal-body">
        <a href="{% url 'category:new' %}" class="btn btn-success btn-lg" role="button">Add New Category</a>
      </div>
    </div>
  </div>
</div>
{% endif %}



{% endblock %}
