{% extends "pinax/messages/base.html" %}
​
{% load i18n %}
{% load pinax_messages_tags %}
​
{% block head_title %}Messages{% endblock %}
​
{% block title %} messages inbox | {{ block.super }} {% endblock %}

{% block jumbotron %}
<a class="btn btn-common" href='{% url "job:list" %}'>Messages
</a>
<a class="btn btn-common active"> Inbox
</a>
{% endblock  %}

{% block content %}
<div class="container">
  <a class="btn btn-primary" href='{% url "pinax_messages:message_create" %}'>
    <i class="fas fa-envelope"></i>
    New Message
  </a>

  <section class="card">
    <div class="card-body">
      {% for thread in threads %}
      <div class="thread {% if thread|unread:user %}unread{% endif %}">
        <a href="{{thread.get_absolute_url}}">
          <h6 class="participants">{{ thread.users.all|join:" , " }}</h6>
          <div class="latest-message">
            <p class="card-title">{{ thread.subject }}</p>
            <p class="card-text mb-2 text-muted">{{ thread.latest_message.content|truncatechars:100 }}</p>
          </div>
        </a>
      </div>
      <hr/>
      {% empty %}
      <div class="no-messages">You have no messages.</div>
      {% endfor %}
    </div>
  </section>
</div>

{% endblock %}
