{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}
{% load pinax_likes_tags %}
{% load activity_tags %}
{% load accounts_tags %}
<title>{% block title %} {{ company.name }} | {{ block.super }} {% endblock %}</title>

{% block breadcrumb %}
{% endblock  %}

{% block content %}


<!-- sliders -->
<div id="sliders-two">
  <div class="full-width">
    <!-- light slider -->
    <div id="light-slider" class="carousel slide">
      <div id="carousel-area">
        <div id="carousel-slider-two" class="carousel slide" data-ride="carousel">
          <div class="carousel-inner" role="listbox">
            {% if company.image %}
            <div class="carousel-item active">
              <img class="img-responsive" src='{{ company.image.url }}'>
            </div>
            {% else %}
            <div class="carousel-item active">
              <img src='{% static "img/slider/bg-1.jpg" %}'>
            </div>
            {% endif %}
            {% if company.photos %}
            {% for obj in company.photos.all %}
            <div class="carousel-item">
              <img class="img-responsive" src='{{ obj.img.url }}' alt="{{ obj.alt }}">
            </div>
            {% endfor %}
            {% else %}
            Add Photos
            {% endif %}
          </div>
          <a class="carousel-control-prev" href="#carousel-slider-two" role="button" data-slide="prev">
            <span class="carousel-control carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carousel-slider-two" role="button" data-slide="next">
            <span class="carousel-control carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- End sliders -->

<div class="mb-60"></div>

<div class="container">
  <!--simple card-->
  <div class="card mx-auto col-sm-12 mb-2 ">
    <div class="card-body">
      <div class="row">
        {% if company.logo %}
        <div class="col-md-2 col-sm-6">
          <img alt="logo" class="d-block w-100" src='{{ company.logo.url }}'>
        </div>
        {% else %}
        <div class="col-md-2 col-sm-12">
          <img alt="..." class="d-block w-100" src='{% static "img/avatar.svg" %}'>
        </div>
        {% endif %}
        <div class="pull-right col-md-10 col-sm-12">
          <div class="col-md-12 post-header-line">
            <h2 class="title-2 text-primary">{{ company.name }}</h2>
            <span class="pull-right label label-pill label-primary">
              {{ hitcount.total_hits }} Views This Month
            </span>
            <br/>
            <p>
                          <span class="text-muted">
                            <i class="fas fa-star"></i> {{ company.average_rating | floatformat }} rating
                          </span> |
              <span class="text-muted"><i class="fas fa-comments"></i> {{ company.review_set.count }} reviews</span>
              <span><i class="far fa-calendar-alt"></i></span> | {{ company.publish }} |
              <span><i class="fas fa-tags"></i></span> Category : {{ company.category }}
            </p>
            <hr/>

            <span class="text-muted"> Email: {{ company.email }} </span>
            <span class="text-muted"> <a href="{{ company.website }}"> | Website  </a></span>
            <span class="card-subtitle mb-2 text-muted">  | {{ company.location.name }}, {{ company.location.country.name }}</span>

            <hr/>
            <div class="row">
              <div class="col-lg-8 col-md-8 col-md-12">
                <h3 class="title-2">Description</h3>
                <p class="content-markdown card-text">{{ company.description }}</p>
              </div>

              <div class="col-md-4 col-sm-12">
                <div class="business-hours">
                  <h4 class="title">Opening Hours</h4>
                  {% if company.open_hours.all %}
                  {% for obj in company.open_hours.all %}
                  <ul class="list-unstyled opening-hours col-sm-12">
                    <li>{{ obj.get_weekday_display }}
                      <span class="pull-right">{{ obj.from_hour }}-{{ obj.to_hour}}
                      </span>
                    </li>
                  </ul>
                  {% endfor %}
                  <a class="btn btn-success" href='{% url "company:add_open_hours" company.slug %}'>Add Other days </a>
                  {% else %}
                  <a class="btn btn-success" href='{% url "company:add_open_hours" company.slug %}'>Add Business
                    Hours </a>
                  {% endif %}
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div>
        <hr/>
        {% if company.user == request.user %}
        <a class="btn btn-primary" href='{% url "company:edit" company.slug %}'>Update </a>
        <a class="btn btn-danger" href='{% url "company:delete" company.slug %}'>Delete </a>
        <a class="btn btn-success" href='{% url "company:new_job" company.slug %}'>Add Job Vacancy </a>
        {% else %}
        <a class="btn btn-primary" href="{% url 'pinax_messages:message_user_create' user_id=object.user.id %}">
          <i class="fa fa-envelope"></i> Message this user
        </a>
        {% endif %}
        <div class="pull-right">
          <div class="social-footer">
            <span> Share on </span>
            <a href="https://www.facebook.com/sharer/sharer.php?u={{ request.build_absolute_uri }}">
              <i class="fa fa-facebook icon-round"></i></a>
            <a href="https://twitter.com/home?status={{ company.name }}%20{{ request.build_absolute_uri }}/">
              <i class="fa fa-twitter icon-round"></i></a>
          </div>
        </div>
      </div>
    </div>
  </div>
  {% if company.photos %}
  <!-- portfolio section 4col -->
  <section id="portfolio">
    <div class="container">
      <h2 class="heading-title text-center">Photos</h2>
      <ul class="row portfolio list-unstyled" id="grid">
        {% for obj in company.photos.all %}
        <li class="col-md-3 col-sm-6 project">
          <figure>
            <div class="hovereffect">
              <img src="{{ obj.img.url }}" alt="{{ photo.alt }}"/>
            </div>
          </figure>
        </li>
        {% endfor %}
      </ul>
    </div>
  </section>
  <br/>
  <!-- Content Area End -->
  {% if company.user != request.user %}
  <!--form-->
  <div class="card mx-auto col-md-12 mb-2">
    <div class="card-body">
      <h3>Add your review</h3>
      {% if error_message %}<p><strong>{{ error_message }}</strong></p>{% endif %}
      <form action="{% url 'reviews:new' company.id %}" class="form-ad" enctype="multipart/form-data"
            method="post">
        <div class="form-group is-empty">
          {% csrf_token %}
          {% crispy form %}
        </div>
      </form>
    </div>
  </div>
  <!--endform-->
  {% endif %}
  <!--simple other card 5-->
  <div class="card mx-auto col-md-10 col-sm-12 mb-2 ">
    <div class="card-body">
      {% if company.review_set.all %}
      <h2 class="title-2">Recent reviews</h2>
      {% for review in company.review_set.all %}
      <div class="row">
        <div class="col-md-5 col-sm-12">
          <div class="row">
            <div class="col-md-5 col-sm-12">
              <img alt="..." class="d-block w-100" src='{% static "img/avatar.svg" %}'>
            </div>
            <div class="col-md-7 col-sm-12">
              <a href="{% url 'reviews:user_reviews' review.user.pk %}">
                <h3 class="card-title">{{ review.user.username }}</h3></a>
              <!--<h6 class="card-subtitle mb-2 text-muted">Follows by 13 People</h6>-->
              <!--<h6 class="card-subtitle mb-2 text-muted">{{ review.user.count }} Reviews</h6>-->
              {% likes_widget request.user review %}
            </div>
          </div>
        </div>
        <div class="col-md-7 col-sm-12 post-header-line">
          <h6 class="text-muted">Rated {{ review.rating }} of 5
            <small> | {{ review.pub_date }}</small>
          </h6>
          <hr/>
          <p>{{ review.comment }}</p>
          <div class="row">
            {% for photo in review.photos.all %}
            <div class="col-md-6 mb-2">
              <img class="d-block w-100" src="{{ photo.img.url }}" alt="{{ photo.alt }}">
            </div>
            {% endfor %}
          </div>
          <br/>
        </div>
      </div>
      <hr/>
      {% endfor %}
      {% else %}
      <p>No reviews for this company yet</p>
      {% endif %}
    </div>
  </div>
  <!--end of simple other card 5-->

</div>
<div class="mb-60"></div>


<div class="container">
  <div class="page-header-title">
    <h2 class="heading-title color-title text-center">Similar companies</h2>
  </div>
</div>
{% for obj in related %}
<!-- card -->
<div class="col-md-3">
  <div class="card">
    {% if obj.logo %}
    <img alt="" class="card-img-top" src='{{ obj.logo.url }}'>
    {% endif %}
    <div class="card-block">
      <h3 class="card-title"><a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a></h3>
      <p class="card-text">{{ obj.description|truncatechars:100 }}...</p>
    </div>
  </div>
</div>
<!-- End card -->
{% empty %}
<div class="container">
  <div class="page-header-title">
    <p>
      There are no similar company yet.
    </p>
  </div>
</div>
{% endfor %}
{% endif %}
{% endblock %}
