{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% load staticfiles %}

<title>{% block title %}  {{ title }}  | {{ block.super }} {% endblock %}</title>
{% block lead %}
{{ title }}
{% endblock %}
{% block jumbotron %}
      <li class="breadcrumb-item"><a href='{% url "home" %}'><i class="fas fa-home"></i>Home</a></li>
      <li class="breadcrumb-item active"> {{ title }}</li>
{% endblock  %}

{% block content %}

<section id="content">
  <div class="container">
    <div class="row">
      <div class="col-sm-12 col-md-9 col-md-offset-2">
        <div class="page-ads box">
          <form enctype="multipart/form-data" class="form-ad" action="." method="POST">
            <div class="form-group is-empty">
              {% csrf_token %}
              {{ form|crispy }}
              <fieldset>
                <div class="divider"><h3>Photos</h3></div>
                {% for formset in inlines %}
                {% crispy formset %}
                {% endfor %}
              </fieldset>
              <button class="btn btn-success">Add your company</button>
            </div>
          </form>

        </div>
      </div>
    </div>
  </div>
</section>

{% endblock content %}
