<!--call to action-->
      <div class="header-style-2">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <div class="hero-content-v2">
                <h3>Add Reviews or even your resume and let business owners find you </h3>
                <p>
                </p>
                <a href="#" class="page-scroll btn btn-lg btn-default-filled">Sign Up</a>
              </div>
            </div>
            <div class="col-xs-12 col-sm-6">
              <figure>
                <img src="static/img/bg/hero-2.png" alt="">
              </figure>
            </div>

          </div>
        </div>
      </div>
<!--end of call to action-->