<!-- Go To Top Link -->
<div class="container">
  <div class="row">
    <div class="mt-4 mb-4 col-md-12">
      <a id="back-to-top" href="#" data-toggle="tooltip" data-placement="left">
        <i class="fas fa-arrow-alt-circle-up x7"></i>
      </a>
    </div>
  </div>
</div>


<!-- Footer Section Start -->
<footer class="p-3 mb-2 bg-dark text-white">
  <!-- Footer Area Start -->
  <section class="footer-Content">
    <div class="container">
      <div class="row">
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title col-md-6 pull-right"><img src="static/img/logo.svg" class="img-responsive" alt="Footer Logo"></h3>
            <div class="textwidget">
              <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quisque lobortis tincidunt est, et euismod
                purus suscipit quis. Etiam euismod ornare elementum. Sed ex est, consectetur eget facilisis sed.</p>
            </div>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title">Quick Links</h3>
            <ul class="menu">
              <li><a href="#">About Us</a></li>
              <li><a href="#">Support</a></li>
              <li><a href="#">License</a></li>
              <li><a href="#">Terms & Conditions</a></li>
              <li><a href="#">Contact</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title">Browse More by: </h3>
            <ul class="menu">
              <li><a href="#">Category</a></li>
              <li><a href="#">Country</a></li>
              <li><a href="#">Location</a></li>
            </ul>
          </div>
        </div>
        <div class="col-md-3 col-sm-6 col-xs-12">
          <div class="widget">
            <h3 class="block-title">Follow Us</h3>
            <div class="bottom-social-icons social-icon">
              <a href=""><i class="fab fa-twitter-square"></i></a>
              <a href=""><i class="fab fa-facebook-square"></i></a>
              <a href=""><i class="fab fa-linkedin"></i></a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!-- Footer area End -->

  <!-- Copyright Start  -->
  <div id="copyright">
    <div class="container">
      <div class="row">
        <div class="col-md-12">
          <div class="site-info text-center">
            <p>All Rights reserved &copy; 2019</a>
            </p>
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Copyright End -->

</footer>
<!-- Footer Section End -->

