<div class="header-style-3">
  <div class="container">
    <div class="row">
      <div class="col-xs-12 col-sm-6">
        <figure>
          <img alt="" src="static/img/bg/business-woman.png">
          <!--<img src="static/img/bg/hero-2.png" alt="">-->
        </figure>
      </div>
      <div class="col-xs-12 col-sm-6">
        <div class="hero-content-v2">
          <h3 class="slide-title animated fadeInDown"><strong>Add your Business and see the lot's of
            possibilities</strong></h3>
          <p>
            sign up, add company, help people to know you better!
          </p>
          <a class="btn btn-lg btn-border animated fadeInUp" href="{% url 'accounts:employer_signup' %}">
            Business Sign Up
          </a>
          <a class="btn btn-lg btn-success animated fadeInUp" href="{% url 'accounts:normal_user_signup' %}">
            Normal Sign Up
          </a>

        </div>
      </div>
    </div>
  </div>
</div>