
      <div class="header-style-3">
        <div class="container">
          <div class="row">
            <div class="col-xs-12 col-sm-6">
              <figure>
                <img src="static/img/bg/business-woman.png" alt="">
                <!--<img src="static/img/bg/hero-2.png" alt="">-->
              </figure>
            </div>
            <div class="col-xs-12 col-sm-6">
              <div class="hero-content-v2">
                <h3 class="slide-title animated fadeInDown">are a business person? <strong>Add your Company and increase your client</strong></h3>
                <p>
                  sign up, add company, help people to know you better and add Job vacancies for free!
                </p>
				                  <a class="btn btn-lg btn-border animated fadeInUp" href="{% url 'accounts:employer_signup' %}">Business Sign Up</a>
              </div>
            </div>
          </div>
        </div>
      </div>