{% extends 'base.html' %}
{% load accounts_tags %}
{% load company_tags %}
{% load job_tags %}
{% load category_tags %}
{% load review_tags %}
{% load pinax_likes_tags %}
{% load staticfiles %}
{% block breadcrumb %}
{% endblock  %}
{% block content %}
{% include "header.html" %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="page-header-title">
        <h2 class="heading-title text-center">Categories</h2>
      </div>
    </div>
  </div>

  <div class="features-wrap">
    <div class="row">
      {% show_categories 6 %}
      <hr/>
      <div class="pull-right">
        <a class="btn std-btn btn-sm btn-filled" href='{% url "category:list" %}' type="button">
          More
        </a>
      </div>

    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="page-header-title">
        <h2 class="heading-title text-center"> Latest Companies </h2>
      </div>
    </div>
  </div>
  <div class="row">
    {% show_latest_companies 4 %}
    <hr/>
    <div class="pull-right">
      <a class="btn std-btn btn-sm btn-filled" href='{% url "company:list" %}'
         type="button">
        More
      </a>
    </div>
  </div>

  <div class="row">
    <div class="col-12">
      <div class="page-header-title">
        <h2 class="heading-title text-center"> Latest Jobs </h2>
      </div>
    </div>
  </div>
  {% show_latest_jobs 8%}
</div>

<!-- facts Section Start -->
<div id="counter">
  <div class="container">
    <div class="row count-to-sec">
      <div class="col-lg-3 col-md-6 col-xs-12 count-one">
        <span class="icon"><i class="fa fa-download"> </i></span>
        <h3 class="timer count-value" data-speed="1000" data-to="{% total_user %}">{% total_user %}</h3>
        <hr class="width25-divider">
        <small class="count-title">users</small>
      </div>

      <div class="col-lg-3 col-md-6 col-xs-12 count-one">
        <span class="icon"><i class="fa fa-download"> </i></span>
        <h3 class="timer count-value" data-to="{% total_reviews %}" data-speed="1000">{% total_reviews %}</h3>
        <hr class="width25-divider">
        <small class="count-title">Review{{ total_reviews|pluralize }}</small>
      </div>

      <div class="col-lg-3 col-md-6 col-xs-12 count-one">
        <span class="icon"><i class="fa fa-desktop"> </i></span>
        <h3 class="timer count-value" data-speed="1000" data-to="{% total_companies %}">{% total_companies %}</h3>
        <hr class="width25-divider">
        <small class="count-title">Companies{{ total_companies|pluralize }}</small>
      </div>

      <div class="col-lg-3 col-md-6 col-xs-12 count-one">
        <span class="icon"><i class="fa fa-coffee"> </i></span>
        <h3 class="timer count-value" data-speed="1000" data-to="{% total_jobs %}">{% total_jobs %} </h3>
        <hr class="width25-divider">
        <small class="count-title">Job{{ total_jobs|pluralize }}</small>
      </div>
    </div>
  </div>
</div>
<!-- facts Section End -->
<div class="mb-60">&nbsp;</div>

{% show_latest_profile 3 %}

{% show_latest_reviews 11 %}

{% include "call-to-action.html"%}

{% endblock %}