{% extends 'base.html' %}

{% load staticfiles %}

{% block breadcrumb %}
{% endblock  %}


{% block content %}

{% include "header.html" %}

<div class="container">
  <div class="row">
    <div class="col-12">
      <div class="page-header-title">
        <h2 class="heading-title text-center">Cards</h2>
      </div>
    </div>
  </div>
  <div class="row">
    <!-- card -->
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="img/card/img-05.jpg" alt="">
        <div class="card-block">
          <h3 class="card-title">Item Title</h3>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
          <a href="#" class="btn card-btn btn-common">Learn More</a>
        </div>
      </div>
    </div>
    <!-- End card -->

    <!-- card -->
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="img/card/img-06.jpg" alt="">
        <div class="card-block text-center">
          <h3 class="card-title">Item Title</h3>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
          <a href="#" class="btn card-btn btn-common">Learn More</a>
        </div>
      </div>
    </div>
    <!-- End card -->

    <!-- card -->
    <div class="col-md-4">
      <div class="card">
        <img class="card-img-top" src="img/card/img-07.jpg" alt="">
        <div class="card-block text-right">
          <h3 class="card-title">Item Title</h3>
          <p class="card-text">Lorem ipsum dolor sit amet, consectetuer adipiscing elit</p>
          <a href="#" class="btn card-btn btn-common">Learn More</a>
        </div>
      </div>
    </div>
    <!-- End card -->
  </div>
</div>

{% endblock %}