<header id="header-wrap">
  <!-- Navbar Start -->
  <nav class="navbar navbar-expand-lg fixed-top scrolling-navbar indigo">
    <div class="container">
      <!-- Brand and toggle get grouped for better mobile display -->
      <div class="navbar-header">
        <button aria-controls="main-navbar" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler"
                data-target="#main-navbar" data-toggle="collapse" type="button">
          <span class="navbar-toggler-icon"></span>
          <span class="icon-menu"></span>
          <span class="icon-menu"></span>
          <span class="icon-menu"></span>
        </button>
        <a class="navbar-brand" href='{% url "company:list" %}'><img alt="" src="static/img/logo.png"></a>
      </div>
      <div class="collapse navbar-collapse" id="main-navbar">
        <ul class="navbar-nav mr-auto w-100 justify-content-end clearfix">
          <li class="nav-item active">
            <a class="nav-link" href='{% url "home" %}'>
              Home
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='{% url "company:list" %}'>
              Company
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='{% url "job:list" %}'>
              Job
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='{% url "category:list" %}'>
              Categories
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='{% url "accounts:users" %}'>
              Reviews
            </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href='{% url "accounts:users" %}'>
              Users
            </a>
          </li>
          {% if request.user.is_authenticated %}
          <li class="nav-item dropdown">
            <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
               href="#">{{ user.username }}</a>
            <div class="dropdown-menu">
              <a class="dropdown-item" href="{% url 'accounts:account_edit' %}">My account</a>
              <a class="dropdown-item" href="{% url 'accounts:password_change' %}">Change password</a>
              <div class="dropdown-divider"></div>
              <a class="dropdown-item" href="{% url 'accounts:logout' %}">Log out</a>
            </div>
      </div>
      </li>
      {% else %}
      <li class="nav-item">
            <span class="right hidden-sm-down nav-link">
              <label class="btn btn-top-menu-inverse"><a href='{% url "accounts:login" %}'><i class="fa fa-lock"></i> Login</a></label>
              <label class="btn btn-top-menu-inverse"><a href='{% url "accounts:signup" %}'><i class="fa fa-pencil"></i>Register</a></label>
            </span>
      </li>
      {% endif %}
      </ul>
    </div>
    </div>

    <!-- Mobile Menu Start -->
    <ul class="mobile-menu navbar-nav">
      <li>
        <a class="page-scroll" href='{% url "home" %}'>
          Home
        </a>
      </li>
      <li>
        <a class="page-scroll" href='{% url "company:list" %}'>
          Company
        </a>
      </li>
      <li>
        <a class="page-scroll" href='{% url "job:list" %}'>
          Job
        </a>
      </li>
      <li>
        <a class="page-scroll" href='{% url "category:list" %}'>
          Categories
        </a>
      </li>
      <li>
        <a class="page-scroll" href='{% url "company:list" %}'>
          Reviews
        </a>
      </li>
      <li>
        <a class="page-scroll" href='{% url "accounts:users" %}'>
          User
        </a>
      </li>
      {% if request.user.is_authenticated %}
      <li class="nav-item dropdown">
        <a aria-expanded="false" aria-haspopup="true" class="nav-link dropdown-toggle" data-toggle="dropdown"
           href="#">{{ user.username }}</a>
        <div class="dropdown-menu">
          <a class="dropdown-item" href="{% url 'accounts:account_edit' %}">My account</a>
          <a class="dropdown-item" href="{% url 'accounts:password_change' %}">Change password</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" href="{% url 'accounts:logout' %}">Log out</a>
        </div>
        </div>
      </li>
      {% else %}
      <li class="nav-item">
        <label class="btn btn-top-menu-inverse"><a href='{% url "accounts:login" %}'><i class="fa fa-lock"></i>
          Login</a></label>
      </li>
      <li class="nav-item">
        <label class="btn btn-top-menu-inverse"><a href='{% url "accounts:signup" %}'><i class="fa fa-pencil"></i>Register</a></label>
      </li>
      {% endif %}
    </ul>
    <!-- Mobile Menu End -->

  </nav>
  <!-- Navbar End -->
</header>